@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #000;
}

html.dark {
  background-color: #000;
  color: var(--primary-color);
}

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

